<div class="w-[30vw] h-full relative">
  <mat-tab-group mat-align-tabs="center" class="bg-neutral-800 h-full" dynamicHeight="true" [(selectedIndex)]="tabreset">
    <mat-tab label="Cluster Overview" class="h-full" [disabled]="!this.clusterDetails">
      <app-cluster-overview *ngIf="this.clusterId !== '' && !this.loading" [clusterDetails]="clusterDetails"></app-cluster-overview>
    </mat-tab>
    <mat-tab label="Attribute Explorer" class="h-full" [disabled]="!this.clusterDetails">
      <app-attribute-explorer *ngIf="this.clusterId !== '' && !this.loading" [color]="color" [clusterDetails]="clusterDetails"></app-attribute-explorer>
    </mat-tab>
    <mat-tab label="Cluster Comparison" class="h-full" [disabled]="!this.clusterDetails">
      <app-cluster-comparison *ngIf="this.clusterId !== '' && !this.loading" [clusterDetails]="clusterDetails" [allClusters]="clusters"></app-cluster-comparison>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="this.clusterId === ''" class="absolute left-[24%] top-[40%] text-xl">
    Select a Cluster for detailed information.
  </div>

  <div *ngIf="this.loading" class="absolute left-[24%] top-[40%] text-xl">
    <mat-spinner color="accent" diameter="40" class="ml-[100px]"></mat-spinner>
    <div>Loading details of your cluster...</div>
  </div>
</div>
