<mat-sidenav-container style="height: 100%">
    <mat-sidenav #sidenav mode="side" position="end" opened>
        <app-cluster-details-sideview [clusters]="clusters" [color]="color" [clusterId]="selectedClusterId"></app-cluster-details-sideview>
    </mat-sidenav>
    <mat-sidenav-content style="height: calc(100%-60px)">
        <mat-toolbar class="h-[60px] absolute w-full top-0 left-0">

            <div class="text-xl h-[60px] border-solid border-r-2 border-neutral-800 pr-14 float-left w-[28%]">
                <div class="relative text-center ml-5 w-full top-[15px]">ϵ-Value: {{epsilonDisplay}}</div>
                <mat-slider
                    [(value)]="epsilonValue"
                    (valueChange)="this.api.epsilonChanged(epsilonValue)"
                    (input)="epsilonDisplay = $event.value"
                    class="w-full ml-5"
                    tickInterval="1"
                    step="1"
                    min="0"
                    max="5"
                    aria-label="units">
                </mat-slider>
            </div>

            <div class="text-xl  h-[60px] border-solid border-r-2 border-neutral-800 pr-14 float-left w-[28%]">
                <div class="relative text-center ml-6 w-full top-[15px] ">Minimum Points: {{this.getMinPtsEstimationAtMinPtsDisplay()}}</div>
                <mat-slider
                    [(value)]="minPtsValue"
                    (input)="minPtsDisplay = $event.value"
                    (valueChange)="minPtsValueChange()"
                    class="w-full ml-5"
                    tickInterval="1"
                    step="1"
                    min="0"
                    [max]="minPtsEstimations.length-1"
                    aria-label="units">
                </mat-slider>
            </div>
            
            
            <div class="text-xl  h-[60px] border-solid border-r-2 border-neutral-800 pr-14 float-left w-[25%]">
                <div class="relative text-center ml-8 w-full top-[15px]">Minimum Connection Level: {{connectionLevelDisplay}}%</div>
                <mat-slider
                    [(value)]="connectionLevelValue"
                    (valueChange)="this.api.connectionLevelChanged(connectionLevelValue)"
                    (input)="connectionLevelDisplay = $event.value"
                    class="w-full ml-5"
                    tickInterval="1"
                    step="1"
                    min="0"
                    max="100"
                    aria-label="units">
                </mat-slider>
            </div>
            <mat-form-field appearance="standard" class="absolute right-[40px] -top-8 margin-0">
                <mat-select class="w-56 text-lg" [(value)]="this.selectedDataSet" (selectionChange)="this.api.dataSetChanged(this.selectedDataSet)">
                    <mat-option [value]="'SAP P2P'">SAP P2P</mat-option>
                    <mat-option [value]="'BPI 2017'">BPI 2017</mat-option>
                    <mat-option [value]="'MobIS'">MobIS</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-toolbar>
        <app-main-view (clustersChange)="this.clusters = $event" (selectedClusterColorChange)="this.color = $event" (selectedClusterChange)="this.selectedClusterId = $event"></app-main-view>
    </mat-sidenav-content>
</mat-sidenav-container>