<mat-form-field appearance="fill" class="w-full">
  <mat-label>Please select the clusters</mat-label>
  <mat-select [(value)]="this.selectedClusters" (selectionChange)="this.assignDetails($event)" multiple>
      <mat-option *ngFor="let cluster of allClusters" [value]="cluster">Cluster: {{ cluster.name }}</mat-option>
  </mat-select>
</mat-form-field>

<div class="h-[180px] w-full mb-6" *ngFor="let clusterDetail of this.selectedClustersDetails">
  <mat-divider></mat-divider>
  <div class="w-full text-center text-lg">Cluster: {{clusterDetail.name}}</div>
    <div class="mt-[16px] h-[150px] w-[28%] float-left bg-neutral-700 mr-[5%] ml-[3%] rounded-3xl p-3">
      <div class="text-base mb-7 w-full text-center">Fraction of Dataset:</div>
      <div class="text-4xl text-center w-full mb-3 text-[#5cfe50] ">{{((clusterDetail.clusterSize)! *100 / (clusterDetail.globalSize)!).toFixed(2)}} <span>%</span></div>
      <div class="text-xs text-center w-full">Cluster Size: <span class="text-[#5cfe50]">{{clusterDetail.clusterSize}}</span></div>
      <div class="text-xs text-center w-full">Dataset Size: <span class="text-[#5cfe50]">{{clusterDetail.globalSize}}</span></div>
    </div>
    <div class="mt-[16px] h-[150px] w-[28%] float-left bg-neutral-700 mr-[5%]  rounded-3xl p-3">
      <div class="text-base mb-4 text-center">Throughput Time:</div>
      <div class="text-xs text-center w-full">Cluster average:</div>
      <div class="text-2xl text-center w-full mb-2 text-[#5cfe50]">{{clusterDetail.clusterAVGTroughputTime?.toFixed(2)}} <span>days</span></div>
      <div class="text-xs text-center w-full">Global average:</div>
      <div class="text-2xl text-center w-full text-[#5cfe50]">{{clusterDetail.globalAVGTroughputTime?.toFixed(2)}} <span>days</span></div>
    </div>
    <div class="mt-[16px] h-[150px] w-[28%] float-left bg-neutral-700 mr-[3%] rounded-3xl p-3">
      <div class="text-base mb-7 w-full text-center">Path Compliance:</div>
    
      <div class="text-4xl text-center w-full mb-3 text-[#5cfe50] ">{{((clusterDetail.happyPathFraction)! * 100).toFixed(2)}} <span>%</span></div>
      <div class="text-xs text-center w-full">of traces are the happy path</div>
    </div>
    
</div>
