<div>
    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Select an attribute</mat-label>
        <mat-select [(value)]="this.selectedAttribute" (selectionChange)="this.onSelectionChange()">
            <mat-option *ngFor="let attr of this.clusterDetails?.attributes" [value]="attr">{{ attr }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div id="chartdiv" style="width: 100%; height: 500px; margin-top: 20%;"></div>
<div *ngIf="this.loading" class="absolute left-[24%] top-[40%] text-xl">
    <mat-spinner color="accent" diameter="40" class="ml-[100px]"></mat-spinner>
    <div>Loading attribute distribution...</div>
</div>
