<div class="h-[180px] w-full">

  <!-- Troughput time -->
  
   
    <div class="mt-[16px] h-[150px] w-[28%] float-left bg-neutral-700 mr-[5%] ml-[3%] rounded-3xl p-3">
      <div class="text-base mb-7 w-full text-center">Fraction of Dataset:</div>
      <div class="text-4xl text-center w-full mb-3 text-[#5cfe50] ">{{((clusterDetails?.clusterSize)! *100 / (clusterDetails?.globalSize)!).toFixed(2)}} <span>%</span></div>
      <div class="text-xs text-center w-full">Cluster Size: <span class="text-[#5cfe50]">{{clusterDetails?.clusterSize}}</span></div>
      <div class="text-xs text-center w-full">Dataset Size: <span class="text-[#5cfe50]">{{clusterDetails?.globalSize}}</span></div>
    </div>
    <div class="mt-[16px] h-[150px] w-[28%] float-left bg-neutral-700 mr-[5%]  rounded-3xl p-3">
      <div class="text-base mb-4 text-center">Throughput Time:</div>
      <div class="text-xs text-center w-full">Cluster average:</div>
      <div class="text-2xl text-center w-full mb-2 text-[#5cfe50]">{{clusterDetails?.clusterAVGTroughputTime?.toFixed(2)}} <span>days</span></div>
      <div class="text-xs text-center w-full">Global average:</div>
      <div class="text-2xl text-center w-full text-[#5cfe50]">{{clusterDetails?.globalAVGTroughputTime?.toFixed(2)}} <span>days</span></div>
    </div>
    <div class="mt-[16px] h-[150px] w-[28%] float-left bg-neutral-700 mr-[3%] rounded-3xl p-3">
      <div class="text-base mb-7 w-full text-center">Path Compliance:</div>
    
      <div class="text-4xl text-center w-full mb-3 text-[#5cfe50] ">{{((clusterDetails?.happyPathFraction)! * 100).toFixed(2)}} <span>%</span></div>
      <div class="text-xs text-center w-full">of traces are the happy path</div>
    </div>
</div>

<mat-divider></mat-divider>

<div class="h-[750px] w-full overflow-x-hidden overflow-auto scrollbar-thin scrollbar-thumb-neutral-400" #canvas></div>