<div *ngIf="isLoading" class="absolute top-[38%] left-[45%] right-1/2 w-[300px]">
    <mat-spinner color="accent" class="left-[40px]"></mat-spinner>
    <span>Currently loading your data...</span>
</div>
<div class="h-[100%] w-full box-border pt-[60px]" #canvas></div>

